<div>
    <div>
    <h4>Posts</h4>
    </div>
      <div>
      <button type="button" class="btn btn-secondary" *ngIf="hideMode" (click)="hideMode = false">Add post</button>
      </div>
      
      <div [hidden]="hideMode">
          <h3>Add post:</h3>
          <div class="form-group">
            <label>Town</label>
            <input type="text" class="form-control" placeholder="Write town" [(ngModel)]="town">
          </div>
          <div class="form-group">
            <label>Capacity</label>
            <input type="text" class="form-control" placeholder="Write capacity" [(ngModel)]="capacity">
          </div>
          <div class="form-group">
              <label>Code</label>
              <input type="text" class="form-control" placeholder="Write code" [(ngModel)]="code" >
            </div>           
              <button type="submit" class="btn btn-primary" *ngIf="editMode == false" (click)="addPost()">Add</button>
              <button type="button" class="btn btn-secondary" *ngIf="editMode == false" (click)="hideMode = true">Hide form</button>
            </div>  
            <div>
              <button type="submit" class="btn btn-primary" *ngIf="editMode == true" (click)="sendUpdatedPost()">Update</button>
            </div> 
      </div>  
      <div>
          <table class="table table-striped">  
              <thead>
                  <tr>
                      <th>Number</th>
                      <th>Town</th>
                      <th>Capacity in grams</th>
                      <th>Code</th>                       
                      <th>Actions</th>
                  </tr>
              </thead>  
              <tbody>
                  <tr *ngFor="let post of posts; index as i">
                      <th>{{ i + 1 }}</th>
                      <td>{{post.town}}</td>
                      <td>{{post.capacity}}</td>
                      <td>{{post.code}}</td>               
                      <td> <button type="button" class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
                           <button type="button" class="btn btn-warning" (click)="loadPost(post)">Update</button>
                      </td>
                  </tr>
              </tbody>  
          </table>
  </div>